<div class="header-section">
    <img src="./assets/img/Pascal_Logo.png" (click)="scrollToTheTop('welcome')">
    <div class="button-menu d-none-menu">
        <a (click)="scrollToTheTop('about-me')">About me</a>
        <a (click)="scrollToTheTop('skills')">Skills</a>
        <a (click)="scrollToTheTop('portfolio')">Portfolio</a>
    </div>
    <div class="menu-button">
        <img src="./assets/img/Burger-large.svg">
        <img src="./assets/img/Burger-large.svg">
        <img src="./assets/img/Burger-large.svg">
    </div>
</div>