@import "/src/styles/colores.scss";

.footer-section {
  height: 291px;
  border-top: 4px solid $light-blue;
  width: 100%;
}

.desktop-box {
  height: 291px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.log_impressum {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  img {
    height: 32px;
  }
}

.copyright {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.icon-box {
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  gap: 42px;
}

.imp-d {
  display: none;
}

@media (max-width: 850px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
  }
  .desktop-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .d-none {
    display: none;
  }
  .imperssum {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: auto;
    line-height: 100%;
  }
}
