<div class="footer-section">
    <div class="desktop-box">
        <div class="log_impressum">
            <img src="/assets/img/Pascal_Logo.png" (click)="scrollToTheTop()">
            <p class="d-none" (click)="openImpressum()">Impressum</p>
        </div>
        <p class="copyright"> &copy; Pascal Dietz 2023</p>
        <div class="icon-box">
            <img src="/assets/img/github.svg">
            <img src="/assets/img/email.svg">
            <img src="/assets/img/linkedIN.svg">
        </div>
    </div>
    <p class="imperssum imp-d" (click)="openImpressum()">Impressum</p>
</div>