.about-me-section {
  width: 100vw;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 90vh;
}

.about-me-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-me-text-section {
  z-index: 10;
  width: 471px;
  //margin-left: 100px;
  line-height: 120%;

  h2 {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.personal-info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.halfbody-picture-section {
  display: flex;
  justify-content: center;
  width: 50%;

  img {
    width: 593px;
  }

  background-image: url("/assets/img/color_about_me.png");
  object-fit: fill;
  background-repeat: no-repeat;
}

.vector-about-me {
  width: 100%;
  position: absolute;
  top: 140vh;
}

@media (max-width: 950px) {
  .about-me-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .vector-about-me{
  top: 145vh
  }
  .halfbody-picture-section{
    img{
      width: 70vw;
    }
  }
}

@media (max-width: 800px){
  .vector-about-me{
    top: 125vh;
  }
  .halfbody-picture-section{
    img{
      width: 60vw;
    }
  }
}
@media (max-width: 540px) {
  .about-me-text-section {
    width: 80%;

    h2 {
      font-size: 60px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  .vector-about-me{
    top: 120vh;
  }
}

@media (max-width: 390px) {
  .about-me-text-section {
    width: 80%;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

/*
@media (max-width: 380px) and (max-height: 670px){
  .about-me-text-section{
    width: 80%;
    h2{
      font-size: 50px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  .vector-about-me{
    top: 870px;
  }
  .halfbody-picture-section{
    img{
      width: 80vw;
    }
  }
}

@media (max-width: 415px) and (max-height: 900px){

  .vector-about-me{
    top: 1120px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 360px) and (max-height: 740px){

  .vector-about-me{
    top: 970px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 412px) and (max-height: 915px){

  .vector-about-me{
    top: 1160px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 820px) and (max-height: 1180px){

  .vector-about-me{
    top: 1630px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 770px) and (max-height: 1024px){

  .vector-about-me{
    top: 1530px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 915px) and (max-height: 1370px){

  .vector-about-me{
    top: 1830px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 540px) and (max-height: 720px){

  .vector-about-me{
    top: 1050px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 280px) and (max-height: 655px){
  .about-me-text-section{
    width: 80%;
    h2{
      font-size: 40px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .vector-about-me{
    top: 820px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 415px) and (max-height: 915px){

  .vector-about-me{
    top: 1150px;
  }
  .halfbody-picture-section{
    img{
      width: 90vw;
    }
  }
}

@media (max-width: 1024px) and (max-height: 600px){

  .vector-about-me{
    top: 1000px;
  }
  .halfbody-picture-section{
    img{
      width: 50vw;
    }
  }
}
*/

@media (max-height: 667px) {
  //.vector-about-me {
    //top: 125vh;
  //}

  .halfbody-picture-section {
    img {
      width: 70vw;
    }
  }
}