.about-me-section {
  width: 100vw;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 90vh;
}

.about-me-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-me-text-section {
  z-index: 10;
  width: 471px;
  //margin-left: 100px;
  line-height: 120%;

  h2 {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.personal-info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.halfbody-picture-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  img {
    width: 750px;
  }

  //background-image: url("/assets/img/color_about_me.png");
}

.vector-about-me {
  width: 100%;
  position: absolute;
  top: 140vh;
}

@media (max-width: 950px) {
  .about-me-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .vector-about-me{
  top: 145vh
  }
  .halfbody-picture-section{
    img{
      width: 70vw;
    }
  }
}
@media (min-height: 1200px){
  .vector-about-me{
    top: 130vh;
  }
}

@media (max-width: 1050px) and (max-height: 1000px){
  .vector-about-me{
    top: 150vh;
  }
}

@media (max-width: 800px){
  .vector-about-me{
    top: 125vh;
  }
  .halfbody-picture-section{
    img{
      width: 60vw;
    }
  }
}

@media (max-height: 667px) {

  .halfbody-picture-section {
    img {
      width: 70vw;
    }
  }
}

@media (max-width: 540px) {
  .about-me-text-section {
    width: 80%;

    h2 {
      font-size: 60px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  .vector-about-me{
    top: 120vh;
  }
}

@media (max-width: 390px) {
  .about-me-text-section {
    width: 80%;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
