@import "/src/styles/colores.scss";

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;

  h1 {
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 108px */
  }

  .line-blue {
    background-color: $light-blue;
  }

  .line-contact {
    width: 100%;
    height: 4px;
  }
}

.contact-info-section {
  .contact-info-text {
    width: 473px;
    margin-left: 100px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }
  .info-header {
    display: flex;
    align-items: center;
    gap: 49px;

    .line-info-contact {
      width: 50px;
      height: 4px;
      flex-shrink: 0;
      background-color: $mind-green;
    }

    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
    }
  }
}

.contact-form-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 

  .input-default {
    font-family: 'Poppins', sans-serif;
    margin: 25px 0;
    font-size: 1rem;
    color: white;
    display: flex;
    width: 617px;
    padding: 15px 25px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid $blue;
    background: $dark-blue-BG;

    &:hover{
        border: 2px solid $light-blue;
    }

    &:valid{
        border: 2px solid $green;
    }
  }

  .name-input {
    height: 50px;
  }
  .email-input {
    height: 50px;
  }
  .message-input {
    height: 202px;
    resize: none;
    
  }

  button {
    color: white;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #b6b6b6;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.checkbox-pp {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid $light-blue; /* Blauer Rahmen */
  background-color: transparent; /* Transparenter Hintergrund */
  border-radius: 4px; /* Abgerundete Ecken */
  cursor: pointer;
  position: relative; /* Erforderlich für das Hintergrundbild */
  &:checked {
    &::before {
      content: ""; /* Leeres Inhaltselement für das Haken-Symbol */
      position: absolute;
      top: 0px;
      left: 4px;
      width: 5px;
      height: 10px;
      border: 2px solid $light-blue; /* Farbe des Haken-Symbols */
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}
