<div class="contact-section" id="contact">
    <div class="contact-header">
        <div class="line-contact"></div>
        <h1>Contact</h1>
        <div class="line-contact line-blue"></div>
    </div>
    <div class="contact-content">

        <div class="contact-info-section">
            <!--
            <div class="info-header">
                <div class="line-info-contact"></div>
                <h2>Got a problem to solve?</h2>
            </div> -->
            <p class="contact-info-text">Contact me through this form, I am interested in hearing you, knowing your
                ideas and contributing to your
                projects with my work.</p>
            <p class="contact-info-text">Need a Frontend developer? <b>Contact me!</b></p>
        </div>

        <div class="contact-form-section">
            <form (submit)="sendMessage()" #myForm>
                <div class="inputfild-box">
                    <input type="text" name="name" class="name-input input-default"
                        [class.borderRed]="!nameInputValid && nameInputChecked" placeholder="Your name" required
                        [(ngModel)]="inputName" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onInputChange(inputName,'name')" #nameField>
                    <img *ngIf="nameInputValid && nameInputChecked" class="validIcon" src="/assets/img/green-check.svg">
                    <img *ngIf="!nameInputValid && nameInputChecked" src="/assets/img/red-fail.svg">
                </div>
                <div class="error-massage">
                    <p id="fail-text-name" *ngIf="!nameInputValid && nameInputChecked">
                        Your name is required!
                    </p>
                </div>

                <div class="inputfild-box">
                    <input type="email" class="email-input input-default"
                        [class.borderRed]="!emailInputValid && emailInputChecked" placeholder="Your email" required
                        [(ngModel)]="inputEmail" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onInputChange(inputEmail,'email')" #emailField>

                    <img *ngIf="emailInputValid && emailInputChecked" class="validIcon"
                        src="/assets/img/green-check.svg">
                    <img *ngIf="!emailInputValid && emailInputChecked" src="/assets/img/red-fail.svg">
                </div>
                <div class="error-massage">
                    <p id="fail-text-email" *ngIf="!emailInputValid && emailInputChecked">
                        Your email is required!
                    </p>
                </div>

                <div class="inputfild-box">
                    <textarea type="text" name="message" class="message-input input-default"
                        [class.borderRed]="!massageInputValid && massageInputChecked" placeholder="Your message"
                        required [(ngModel)]="inputMassage" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onInputChange(inputMassage,'massage')" #messageField></textarea>
                    <img *ngIf="massageInputValid && massageInputChecked" class="validIcon"
                        src="/assets/img/green-check.svg">
                    <img *ngIf="!massageInputValid && massageInputChecked" src="/assets/img/red-fail.svg">
                </div>
                <div class="error-massage">
                    <p id="fail-text-massage" *ngIf="!massageInputValid && massageInputChecked">
                        Your message is empthy!
                    </p>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div style="display: flex; align-items: center;">
                        <input class="checkbox-pp" type="checkbox" [(ngModel)]="checkboxValue" name="private_policy"
                            id="private_policy" required #privatePolicyCheckbox><label for="private_policy">I've read
                            the <a>privacy policy</a>and agree to the processing of my data as outlined.</label>
                    </div>
                    <button [disabled]="!checkboxValue" #sendButton>Send message</button>
                </div>
            </form>
            <Div style="height: 120px;">
                <h1 *ngIf="messageSend" style="text-align: center;">Your message is send! <br>Thank you for contacting
                    me.</h1>
            </Div>

        </div>
    </div>
</div>