@import "/src/styles/colores.scss";

.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-blue-transparent;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-points {
  gap: 29px;
  p {
    cursor: pointer;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.d-none{
    display: none;
}