@import "/src/styles/colores.scss";

.skill-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 91px;
  width: 625px;
  margin-left: 100px;
}
.skills-headline {
  display: flex;
  align-items: center;
  gap: 41px;
}
.icon {
  display: flex;
  width: 88px;
  height: 100px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
  }

  img {
    display: flex;
    height: 60px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
  }
}

.skill-text {
  h2 {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }

  .cta-button-touch {
    cursor: pointer;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: $light-blue;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      transform: scale(1.2);
      background-color: $blue;
    }
  }
}

.skill-text-description {
  width: 471px;
  margin-bottom: 47px;
}

.line-skills {
  width: 289px;
  height: 4px;
  flex-shrink: 0;
  background-color: $mind-green;
}

@media (max-width: 1160px) {
  .skill-section {
    margin-top: 150px;
    flex-direction: column-reverse;
    overflow: hidden;
    justify-content: center;
  }

  .skill-content {
    width: 80vw;
  }

  .d-none {
    display: none !important;
  }
  .line-skills {
    width: 100%;
  }
  .skill-text-description {
    margin-bottom: 150px;
  }

  .skill-content {
    gap: 22px;
  }
}

@media (max-width: 500px) {
  .skill-text {
    h2 {
      font-size: 50px;
    }
  }
  .line-skills {
    width: 40vw;
  }
  .skills-headline{
    z-index: 30;
gap: 10px;
justify-content: flex-end;
  }

  .skill-content{
    margin-left: 10px;
  }
  .skill-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skill-text-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
