<div id="portfolio">
    <div class="portfolio-headline">
        <div class="line-portfolio"></div>
        <h2>Portfolio</h2>
    </div>
    <div class="portfolio-subline">This page is a sample of my work! Scroll down to view other Projects I have develoed
    </div>

    <div class="portfolio-content-section">
        <div *ngFor="let item of portfolioInfos;" class="portfolio-object" style="position: relative;">
            <img src="/assets/img/{{ item.image }}">
            <div class="portfolio-hover-object">
                <div class="button-section">
                    <div class="btn git">Github</div>
                    <div class="btn live_test">Live Test</div>
                </div>
                <div class="object-content">
                    <h2>{{ item.title }}</h2>
                    <div style="padding: 0 25px; text-align: center;">
                        <p class="description-text">{{ item.description }}</p>
                        <p class="script-text">{{ item.script }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>