<app-header></app-header>
<div class="impressum-section">
    <div class="impressum-content">
        <h1>Impressum</h1>
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Pascal Dietz<br />
            J&auml;gerstr 33<br />
            47798 Krefeld</p>

        <h2>Kontakt</h2>
        <p>Telefon: 021519185623<br />
            E-Mail: pascal@dipado.de</p>

        <p>Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
    <app-footer></app-footer>
</div>