<div class="welcome-section" id="welcome">
    <div class="bg-welcome-section">
        <img src="/assets/img/blue.png">
        <img src="/assets/img/green.png">
    </div>
    <div class="welcome-text">
        <div class="rotat-text">I am</div>
        <div>
            <div class="name-text">Pascal Dietz</div>
            <div class="job-title">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="cta-btn-welcome" (click)="scrollToTheContact()">
        Let's talk!
    </div>
    <div class="icon-section">
        <div class="line-icon"></div>
        <img src="/assets/img/git.svg">
        <img src="/assets/img/email.svg">
        <img src="/assets/img/linkedIN.svg">
    </div>
    <div class="cta-text-arrow">
        Scroll down ->
    </div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>